body{
    background-color: #F0DABA;
}
.square_off{
    width: 10px;
    height: 10px;
    float:left;
}
.square_on{
    width:10px;
    height:10px;
    float:left;
    background-color: black;
}
.row{
    width:600px;
    height:10px;
}
#container{
    position: absolute;
    background-color: white;
    border:5px solid #C7903F;
    border-radius: 10px;
    padding:20px;
    top: 70px;
    left:20px;
    right:20px;
    bottom:20px;
    height: 480px;
    width:850px;
}
#board{
    position: absolute;
    float:left;
    left: 10px;
    top: 10px;
    bottom:10px;
    height:500px;
    width:600px;
    border:1px solid black;
}
#controls{
    position:absolute;
    top:10px;
    left:610px;
    float:right;
    margin:10px;
    
}